<div class="text-center">
  <a (click)="back()" class="btn col-9 m-5" [class]="alcoholic ? 'btn-warning' : 'btn-success'"
    >Back</a
  >
  <div class="d-md-flex flex-wrap justify-content-center">
    <a
      *ngFor="let cocktail of cocktails"
      [routerLink]="['/cocktail', cocktail.idDrink]"
      class="card text-decoration-none mx-auto my-5 m-md-1 col-10 col-md-3"
      [class]="alcoholic ? 'bg-warning text-dark' : 'bg-success text-white'"
    >
      <img class="card-img-top" src="{{ cocktail.strDrinkThumb }}" alt="" />
      <div class="card-body">
        <h5 class="card-title text-center">{{ cocktail.strDrink }}</h5>
      </div>
    </a>
  </div>
</div>
